/* --ACCUEIL-- */
.home_section {
	height: calc(100vh - 150px);
	padding: 0 200px;
	background-image: 
		linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), /* Dégradé vers le haut */
		linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), /* Dégradé vers le bas */
		url('https://www.appartementcourchevel.com/wp-content/uploads/2022/06/montagne.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.home_section h2 {
	color: aliceblue;
	font-size: 60px;
}

.home_section img {
    width: 500px;
}

.home_section p {
	text-align: center;
}

.home_section .home_section_photo {
	height: 300px;
	background-color: red;
	background-image: url("./../images/start.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	mask-image: url("./../images/montagne.png");
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

/* ----DESCRIPTION---- */
section.description ul {
    margin: 10px auto 0;
}
section.description li {
    list-style: disc;
	margin-bottom: 10px;
}

/* ----STATISTIQUES---- */
section.statistiques {
    max-width: 1000px;
    margin: 0 auto;
}

section.statistiques span {
    font-weight: bold;
}

section.statistiques > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

section.statistiques > div > * {
    width: 50%;
}

section.statistiques li {
    margin-bottom: 20px;
}

.statistiques_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistiques_image img {
    width: 70%;
}

/* ----GALERIE---- */
section.galerie .photos_area {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 6 colonnes égales */
    gap: 5px;
    margin: 20px 0;
}

.photos_area div {
    overflow: hidden;
}

.photos_area div img {
    width: 100%;
}

.galerie_video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}