/* --ACCUEIL-- */
/* ----DESCRIPTION---- */
section.description ul {
    width: 800px;
    margin: 10px auto 0;
}
section.description li {
    list-style: disc;
}

/* ----STATISTIQUES---- */
section.statistiques span {
    font-weight: bold;
}

section.statistiques > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

section.statistiques > div > * {
    width: 50%;
}

.statistiques_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistiques_image img {
    width: 70%;
}

/* ----GALERIE---- */
section.galerie .photos_area {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 6 colonnes égales */
    gap: 5px;
    margin: 20px 0;
}

.photos_area div {
    overflow: hidden;
}

.photos_area div img {
    width: 100%;
}

.galerie_video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}