/* --CARD-- */
.card {
	background-color: antiquewhite;
	border-radius: 10px;
	padding: 20px;
}

.card-main_presentation {
	display: flex;
	gap: 20px;
	margin: 20px 0;
}

.card-main_presentation > * {
	width: 100%;
}

.card-main_presentation > .card-informations {
	border: 1px solid black;
	padding: 10px;
}

.card-photo-wrapper {
	display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
    gap: 5px; /* Espacement entre les éléments de la grille */
}

.card-photo {
	overflow: hidden;
}

.card-photo-wrapper > .card-photo {
	cursor: pointer;
}

.card-photo img {
	width: 100%;
	height: 100%;
}

.card-informations {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card-informations > ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.card-informations span {
	font-weight: bold;
}

.card-informations .card-categories {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card-informations .card-categories li {
    padding: 5px 20px;
    border-radius: 25px;
    background-color: lightgreen;
}

.card-informations-footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-map {
	height: 350px;
	overflow: hidden;
}

.card-map iframe {
	width: 100%;
	height: 100%;
}