
/* --CONTACT-- */
.text_contact {
	text-align: center;
}

.form_area {
	width: 600px;
	margin: 0 auto;
}

form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

form div {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: relative;
}

.form_2_col {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.form_2_col div {
	width: 100%;
}

form label {
	font-weight: bold;
	position: absolute;
	inset: 10px;
	width: fit-content;
	height: fit-content;
	transition: all 0.3s ease;
}

form input,
form textarea {
	color: var(--white);
	padding: 8px 10px;
	min-height: 20px;
	background-color: transparent;
	border: 1px solid var(--main-color);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/* border-bottom: 4px solid var(--main-color); */
}

form input:not(.primary_btn),
form textarea {
	background-image: linear-gradient(to right, lightgreen, darkgreen);
	background-size: 100% 3px;
	background-repeat: no-repeat;
	background-position: bottom;
}

form textarea {
	max-width: calc(100% - 20px); /* 20px = padding */
}

form input::placeholder,
form textarea::placeholder {
	opacity: 0;
	color: var(--grey);
}

form input:focus,
form textarea:focus {
	outline: none;
}

input:focus + label,
textarea:focus + label,
.floated_yet {
	transform: translateY(-20px);
	font-size: 12px;
	background-color: var(--bg-website);
	padding: 0 10px;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
	opacity: 1;
}

.form_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

/* ----displaying data---- */
.form_data span {
	font-weight: bold;
	text-transform: capitalize;
}
