/* GENERAL */
html {
	scroll-behavior: smooth;
}

body {
	background-color: lightgrey;
	font-family: 'Poppins', sans-serif;
	line-height: 1.3em;
}

main {
	max-width: 960px;
	padding: 50px 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

h1 {
	font-family: 'Protest Riot', sans-serif;
	font-size: 40px;
}

h2 {
	font-family: 'Protest Riot', sans-serif;
	line-height: 1;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	margin: 40px 0;
}

h3 {
	font-family: 'Protest Riot', sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin: 20px 0;
}

a {
	color: white;
}

.primary_btn {
	padding: 5px 10px;
	border-radius: 5px;
	background-color: green;
	color: white;
}

.primary_btn:hover {
	background-color: darkgreen;
}


/* --HEADER-- */
header {
	background-color: black;
	max-width: 1000px;
	margin: 0 auto;
	color: white;
}

.header_bandeau {
	padding: 10px 60px;
	background-color: green;
	text-align: center;
}

.header_main-content {
	padding: 60px;
	display: flex;
	justify-content: space-between;
}

.header_identity_website {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo {
	filter: invert(1);
	width: 100px;
}


/* MENU */
nav {
	display: flex;
	align-items: center;
}

.header_menu {
	display: flex;
	gap: 20px;
}

.header_menu a {
	color: grey;
	padding: 5px 10px;
}

.header_menu a:hover {
	color: white;
}


/* ASIDE */
aside {
	background-color: green;
	min-width: 200px;
	border-radius: 10px;
	overflow: hidden;
}

.sous-menu_categorie {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.sous-menu_categorie li a {
	padding: 10px 10px;
	background-color: green;
	border-bottom: 1px solid white;
	display: block;
}

.sous-menu_categorie li a:hover {
	background-color: darkgreen;
}


/* MAIN */
.wrap {
	display: flex;
	gap: 20px;
}

.child_main {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.clickable_image {
	cursor: pointer;
}

.form_data span {
	font-weight: bold;
	text-transform: capitalize;
}


/* FOOTER*/
footer {
	background-color: black;
	padding: 60px;
	max-width: 1000px;
	margin: 0 auto;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer span {
	font-weight: bold;
}

.social_networks {
	display: flex;
	align-items: center;
	gap: 40px;
}

.social_networks .bi {
	font-size: 28px;
}