/* GENERAL */
body {
	background-color: lightgrey;
}

header,
footer {
	background-color: black;
	padding: 60px;
	max-width: 1000px;
	margin: 0 auto;
	color: white;
}

main {
	max-width: 960px;
	padding: 0 20px;
	margin: 0 auto;
}

a {
	color: white;
}


/* --HEADER-- */
header {
	display: flex;
	justify-content: space-between;
}

.header_identity_website {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo {
	filter: invert(1);
	width: 100px;
}

/* MENU */
.header_menu {
	display: flex;
	gap: 40px;
}