/* GENERAL */
html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-website);
	color: var(--white);
	font-family: 'Poppins', sans-serif;
	line-height: 1.3em;
}

h1 {
	font-family: 'Protest Riot', sans-serif;
	font-size: 40px;
}

h2 {
	font-family: 'Protest Riot', sans-serif;
	line-height: 1;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	margin: 40px 0;
}

h3 {
	font-family: 'Protest Riot', sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin: 20px 0;
}

a {
	color: var(--white);
}

.primary_btn {
	padding: 10px 30px;
	border-radius: 5px;
	background-color: var(--main-color);
	color: var(--white);
	border: none;
	cursor: pointer;
}

.primary_btn:hover {
	background-color: var(--main-color-dark);
}


/* HEADER */
header {
	background-color: var(--black);
	color: var(--white);
}

.header_bandeau {
	background: var(--gradient-green);
	transition: all 0.5s ease;
}

.header_bandeau p {
	max-width: 1280px;
	margin: 0 auto;
	padding: 5px 60px;
	font-size: 12px;
	text-align: center;
	opacity: 1;
}

.header_main-content {	
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px 60px;
	display: flex;
	justify-content: space-between;
	transition: all 0.5s ease;
}

.header_identity_website {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo {
	filter: invert(1);
	width: 100px;
	transition: all 0.5s ease;
}

/* --scroll header-- */
.header_fixed {
    position: fixed;
    width: 100%;
    top: 0;
	z-index: 2000;
	background: linear-gradient(var(--black) 90%, #0000);
}

.header_fixed .header_bandeau {
	transform: translateY(-100px);
}

.header_fixed .header_bandeau p {
	height: 0;
	padding: 0;
	opacity: 0;
	font-size: 0px;
	visibility: hidden;
}

.header_fixed .header_main-content {
	padding: 20px 60px;
}

.header_fixed .logo {
	width: 70px;
}

.header_fixed h1 {
	font-size: 24px;
}

.btn_website_mode {
	padding: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--grey);
}

.btn_website_mode:hover {
	color: var(--white);
}

.btn_website_mode i {
	font-size: 20px;
}


/* MENU */
.menu {
	display: flex;
	align-items: center;
	gap: 40px;
}

nav {
	display: flex;
	align-items: center;
}

.header_menu {
	display: flex;
	gap: 20px;
}

.header_menu a {
	color: var(--grey);
	padding: 5px 10px;
}

.header_menu a:hover {
	color: var(--white);
}

.header_menu li ul {
	display: none;
	position: absolute;
	background-color: var(--black);
	padding-top: 10px;
}

.header_menu li:hover ul {
	display: block;
}

.header_menu li ul a {
	display: block;
	padding: 10px;
}

.header_menu li a i::before {
    transition: transform 0.5s ease;
	margin-left: 6px;
	transform: translateY(1.75px);
}

.header_menu li:hover a i::before {
	transform: rotate(180deg);
}


/* MAIN */
main {
	overflow: hidden;
}

.main {
	max-width: 1280px;
	padding: 50px 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.wrap_categorie {
	display: flex;
	gap: 20px;
}

.child_main {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.deux_col {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 60px;
}

.deux_col div {
	width: calc((100% - 60px)/2);
}

.deux_col img {
	width: 100%;
}

.deux_col p {
	margin-bottom: 10px;
}

.clickable_image {
	cursor: pointer;
	width: 100%;
}


/* FOOTER*/
footer {
	background-color: var(--black);
	position: relative;
	padding-top: 100px;
}

.custom-shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(151% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top .shape-fill {
    fill: var(--bg-website);
}

.footer_content {
	padding: 100px 60px 60px 60px;
	max-width: 1280px;
	margin: 0 auto;
	color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer span {
	font-weight: bold;
}

/* .social_networks {
	display: flex;
	align-items: center;
	gap: 40px;
}

.social_networks .bi {
	font-size: 28px;
} */