{% extends "base.twig" %}

{# Ce modèle TWIG étend le modèle 'base.twig' : il contient tous les éléments fixes
et un bloc main dont le contenu est spécialisé pour afficher un livre #}

{% block title %}
	{{ title_page }}
{% endblock %}

{% block ccs_page %}
	<link rel="stylesheet" href="css/accueil.css">
{% endblock %}

{% block main %}
	<section>
		<div class="home_section">
			<div class="home_section_container deux_col">
				<div class="home_section_photo" data-aos="zoom-in" data-aos-duration="1500" data-aos-anchor-placement="top-bottom"></div>
				<div>
					<h2>Le Tour du Mont Blanc</h2>
					<p>Bienvenue sur le site dédié au Tour du Mont Blanc (TMB), une aventure de randonnée exceptionnelle à travers les Alpes.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="main">
		<section class="description">
			<h2>Description</h2>
			<div class="deux_col">
				<div data-aos="fade-down-right" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
					<img src="./images/montagne.png" alt="">
				</div>
				<div data-aos="fade-up-left" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
					<p>Le Tour du Mont Blanc est l'un des sentiers de grande randonnée les plus emblématiques du monde, offrant une boucle panoramique à travers la France, l'Italie, et la Suisse. Cette aventure de plusieurs jours vous conduit à travers des paysages spectaculaires, des cols alpins, des vallées verdoyantes, et des villages pittoresques.</p>
					<p>Découvrez la diversité culturelle, la faune et la flore uniques de la région alpine tout en marchant autour du majestueux Mont Blanc.</p>
					<h3>Les caractéristiques qui font du TMB une expérience unique en son genre :</h3>
					<ul>
						<li>Deux différents sens de marche</li>
						<li>Différents points de départ: Courmayeur, Les Houches, Chamonix, Les Contamines, St Gervais, Chapieux, Orsières (Champex, La Fouly), Trient, Vallorcine</li>
						<li>La possibilité d'utiliser les transports publics et les remontées mécaniques pour accélérer et raccourcir le chemin</li>
						<li>De nombreuses variantes et plusieurs cabanes sur la route qui permettent la totale personnalisation de votre tour</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="statistiques">
			<h2>Statistiques clés</h2>
			<div>
				<ul data-aos="fade-down-right" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
					<li><span>Nombre de kilimètres :</span> 170 km</li>
					<li><span>Dénivelé :</span> 10 000 m</li>
					<li><span>Altitude maximale :</span> ~2700 mètres</li>
					<li><span>Nombre de jours recommandés :</span> 7-9 jours</li>
					<li><span>Nombre de pays traversés :</span> 3 (France, Italie, Suisse)</li>
					<li><span>Difficulté :</span> un peu difficile</li>
					<li><span>Départ / arrivée :</span> Les Houches (France)</li>
				</ul>
				<div class="statistiques_image" data-aos="fade-up-left" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
					<img class="clickable_image" onclick="showImage(this)" src="./images/carte.jpg" alt="carte TMB">
				</div>
			</div>
		</section>

		<section class="galerie">
			<h2>Galerie</h2>
			{# DISPLAY PHOTOS #}
			<div class="photos_area">
				{% for i in range(1, total_images) %}
					<div data-aos="flip-left" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
						<img class="clickable_image" onclick="showImage(this)" src="./images/random/random{{ i }}.jpg" alt="image TMB">
					</div>
				{% endfor %}
			</div>
			{# DISPLAY VIDEO #}
			<div class="galerie_video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/CMqYaZAdFpQ?si=qoTu8iO_0H6uH0Ru" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</section>


		{# DISPLAY BIG PHOTO ON CLICK #}
		<div class="overlay" onclick="hideImage()" hidden></div>
		<div class="image-overlay" hidden></div> 
	</section>


{% endblock main %}


{% block javascript %}
	<script src="./js/clickable_image.js"></script>
{% endblock %}