{% extends "base.twig" %}

{# Ce modèle TWIG étend le modèle 'base.twig' : il contient tous les éléments fixes
et un bloc main dont le contenu est spécialisé pour afficher un livre #}

{% block main %}

	<h1>{{ titre }}</h1>
	<p>texte directement dans le twig</p>


{% endblock main %}
